.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .popup-content input,
  .popup-content button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .popup-content button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background: #0056b3;
  }
  